/* HEADER */
@keyframes rotacion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotacionreversa {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes escala {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1);
  }
}
@keyframes nubes01 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-307px);
  }
}
@keyframes nubes02 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(256px);
  }
}
@keyframes blueprintEscuadra {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -50px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -25px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes lapiz1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes lapiz2 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(0deg);
  }
}
@keyframes regla {
  0% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(40px);
  }
  30% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0px);
  }
}
header {
  background: center no-repeat #001d26;
  background-size: cover;
  background-attachment: fixed;
}
header .encabezado {
  padding: 0 0 0px;
  margin-top: -100px;
}
header .encabezado h1 {
  font-size: 92px;
  line-height: 91.56px;
  color: #FFFFFF;
  font-weight: 900;
  margin-top: 0px;
}
header .encabezado h1 strong {
  color: #D60707;
  font-weight: 900;
}
header .encabezado .columna.titulo {
  width: 50%;
  text-align: left;
}
header .encabezado .columna.titulo p {
  font-family: 'Overpass', sans-serif;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.95px;
  color: #FFFFFF;
}
header .encabezado .columna.grafico {
  width: 50%;
  text-align: right;
}
header .encabezado .columna.grafico svg {
  width: 720px;
  height: 630px;
}
header .encabezado .columna.grafico svg .st0 {
  opacity: 0.3;
  fill: #1A1A1A;
}
header .encabezado .columna.grafico svg .st1 {
  fill: #CC0000;
}
header .encabezado .columna.grafico svg .st2 {
  fill: #004254;
}
header .encabezado .columna.grafico svg .st3 {
  fill: #FFFFFF;
}
header .encabezado .columna.grafico svg .st4 {
  fill: #1A1A1A;
}
header .encabezado .columna.grafico svg .st5 {
  fill: #AA0000;
}
header .encabezado .columna.grafico svg .st6 {
  fill: #E8F6F9;
}
header .encabezado .columna.grafico svg .st7 {
  fill: #C10000;
}
header .encabezado .columna.grafico svg .st8 {
  fill: #A3DBE8;
}
header .encabezado .columna.grafico svg .st9 {
  fill: #F2F2F2;
}
header .encabezado .columna.grafico svg .st10 {
  fill: #00212A;
}
header .encabezado .columna.grafico svg .st11 {
  fill: #B50000;
}
header .encabezado .columna.grafico svg .st12 {
  fill: #E6E6E6;
}
header .encabezado .columna.grafico svg .engranaje01 {
  transform-origin: 667px 314px;
  -webkit-animation-name: rotacion;
  -webkit-animation-duration: 4s;
  animation-name: rotacion;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .encabezado .columna.grafico svg .engranaje02 {
  transform-origin: 39px 344px;
  -webkit-animation-name: rotacionreversa;
  -webkit-animation-duration: 8s;
  animation-name: rotacionreversa;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .encabezado .columna.grafico svg .engranaje03 {
  transform-origin: 681px 230px;
  -webkit-animation-name: rotacion;
  -webkit-animation-duration: 8s;
  animation-name: rotacion;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .encabezado .columna.grafico svg .engranaje04 {
  transform-origin: 171px 145px;
  -webkit-animation-name: rotacionreversa;
  -webkit-animation-duration: 6s;
  animation-name: rotacionreversa;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .encabezado .columna.grafico svg .engranaje05 {
  transform-origin: 355px 331px;
  -webkit-animation-name: rotacion;
  -webkit-animation-duration: 8s;
  animation-name: rotacion;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .encabezado .columna.grafico svg .engranaje06 {
  transform-origin: 155px 376px;
  -webkit-animation-name: rotacionreversa;
  -webkit-animation-duration: 8s;
  animation-name: rotacionreversa;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .encabezado .columna.grafico svg .circulo01 {
  transform-origin: 356px 303px;
  -webkit-animation-name: escala;
  -webkit-animation-duration: 5s;
  animation-name: escala;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: escala2;
  animation-name: escala2;
}
header .encabezado .columna.grafico svg .circulo02 {
  transform-origin: 356px 303px;
  -webkit-animation-name: escala;
  -webkit-animation-duration: 5s;
  animation-name: escala;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#about {
  background: right bottom no-repea #f3fcff;
  padding: 100px 0px;
}
#about .col01 {
  width: 23%;
  text-align: left;
}
#about .col01 h4 {
  font-family: Overpass;
  font-size: 24px;
  line-height: 44.4px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 900;
  margin-left: 15px;
}
#about .col01 h4 span {
  display: inline;
  background: #CC0000;
  padding: 9px 0px 6px;
  box-shadow: 15px 0 0 #CC0000, -15px 0 0 #CC0000;
  box-decoration-break: clone;
}
#about .col02 {
  width: 33%;
  text-align: left;
  margin-left: 20px;
  margin-right: 40px;
}
#about .col02 p:first-child {
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.88px;
  color: #3D5156;
  font-weight: 300;
}
#about .col02 p:first-child strong {
  color: #cc0000;
  font-weight: 700;
}
#about .col02 p:last-child {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.9px;
  color: #566D72;
  font-weight: 300;
}
#about .col02 p:last-child strong {
  color: #004254;
  font-weight: 700;
}
#about .col03 {
  width: 33%;
  text-align: left;
  margin-left: 20px;
  margin-right: 40px;
}
#about .col03 svg {
  width: 100%;
}
#about .col03 svg #escuadra_1_ {
  transform-origin: 50% 50%;
  -webkit-animation-name: blueprintEscuadra linear 1.5s;
  -webkit-animation-duration: linear 1.5s;
  animation-name: blueprintEscuadra;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#about .col03 svg #lapiz1_1_ {
  transform-origin: 50% 50%;
  -webkit-animation-name: lapiz1 linear 1.5s;
  -webkit-animation-duration: linear 1.5s;
  animation-name: lapiz1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#about .col03 svg #lapiz2_1_ {
  transform-origin: 30% 50%;
  -webkit-animation-name: lapiz2 linear 2s;
  -webkit-animation-duration: linear 2s;
  animation-name: lapiz2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#about .col03 svg #regla_1_ {
  transform-origin: 30% 50%;
  -webkit-animation-name: regla linear 2s;
  -webkit-animation-duration: linear 2s;
  animation-name: regla;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#destacados {
  padding: 100px 0;
  background: center repeat;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
#destacados h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  line-height: 60.48px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 25px;
  font-weight: 900;
}
#destacados #contenedor {
  width: 100%;
  padding-left: 180px;
  margin: auto;
  text-align: left;
  position: relative;
  box-sizing: border-box;
}
#destacados .destacadostabla {
  display: table;
  border-collapse: separate;
  position: relative;
  transition: all 0.3s;
}
#destacados .bloquecontainer {
  display: inline-block;
  vertical-align: middle;
  width: 486px;
  min-height: 500px;
  vertical-align: top;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  /*DESTACADOS PORTADAS*/
}
#destacados .bloquecontainer .info {
  padding: 10px 50px;
  vertical-align: middle;
  background: #FFFFFF;
}
#destacados .bloquecontainer .info h4 {
  font-size: 20px;
  line-height: 31.23px;
  letter-spacing: 0.5px;
  color: #004254;
  font-weight: 800;
}
#destacados .bloquecontainer .info h4 strong {
  font-weight: 800;
  color: #cc0000;
}
#destacados .bloquecontainer .info p {
  font-size: 14px;
  line-height: 23px;
  min-height: 155px;
  letter-spacing: 0.32px;
  color: #3D5156;
  font-weight: 300;
}
#destacados .bloquecontainer .info a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #cc0000;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
  font-weight: 600;
  transition: all 0.3s;
  margin-bottom: 20px;
}
#destacados .bloquecontainer .info a:hover {
  background: #000000;
}
#destacados .bloquecontainer .slider-img {
  width: 100%;
  height: 250px;
  background: #566D72;
}
#destacados .bloquecontainer #destacados-portada-1 {
  background: url(../comunidad-y-desarrolladores/images/slider/01.jpg) center center no-repeat;
  background-size: cover;
}
#destacados .bloquecontainer #destacados-portada-2 {
  background: url(../comunidad-y-desarrolladores/images/slider/02.jpg) center center no-repeat;
  background-size: cover;
}
#destacados .bloquecontainer #destacados-portada-3 {
  background: url(../comunidad-y-desarrolladores/images/slider/03.jpg) center center no-repeat;
  background-size: cover;
}
#destacados .slider-botones button {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 999;
  background: #000000;
  stroke: #FFFFFF;
  border: 0px;
  border-radius: 100px;
  transition: .1s;
}
#destacados .slider-botones button svg {
  vertical-align: top;
  text-align: left;
}
#destacados .slider-botones button:hover {
  background: #FFFFFF;
  stroke: #D60707;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
#destacados .slider-atras {
  position: absolute;
  top: 45%;
  left: 2%;
}
#destacados .slider-adelante {
  position: absolute;
  top: 45%;
  right: 2%;
}
#comunidad {
  background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 603px 0px no-repeat, #00212A;
  background-size: 70%, cover;
  padding: 0px 0px;
}
#comunidad .col01 {
  width: 25%;
  text-align: left;
  background: #00212A;
}
#comunidad .col01 h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 41px;
  line-height: 45px;
  letter-spacing: 2.05px;
  font-weight: 900;
  color: #FFFFFF;
}
#comunidad .col01 h3 strong {
  color: #cc0000;
}
#comunidad .col01 p {
  font-family: 'Overpass', sans-serif;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.76px;
  color: #FFFFFF;
  font-weight: 300;
}
#comunidad .col02 {
  width: 33%;
  text-align: left;
  margin-left: 20px;
  margin-right: 40px;
}
#comunidad .col02 p:first-child {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.8px;
  color: #3D5156;
  font-weight: 300;
}
#comunidad .col02 p:first-child strong {
  color: #cc0000;
  font-weight: 700;
}
#comunidad .col02 p:last-child {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.8px;
  color: #566D72;
  font-weight: 300;
}
#comunidad .col02 p:last-child strong {
  color: #004254;
  font-weight: 700;
}
#comunidad .col03 {
  width: 33%;
  text-align: left;
  background: rgba(163, 219, 232, 0.9);
  height: 450px;
  padding: 0 50px;
  padding-top: 100px;
}
#comunidad .col03 h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 27px;
  line-height: 50.2px;
  letter-spacing: 2.03px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 900;
  margin-left: 15px;
}
#comunidad .col03 h4 span {
  display: inline;
  background: #00212A;
  padding: 9px 0px 6px;
  box-shadow: 15px 0 0 #00212A, -15px 0 0 #00212A;
  box-decoration-break: clone;
}
#comunidad .col03 a {
  display: inline-block;
  background: #D60707;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 15px;
  margin-top: 15px;
  font-weight: 600;
  transition: all 0.1s;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
}
#comunidad .col03 a:hover {
  background: #000000;
  color: #D60707;
}
@media (max-width: 1700px) {
  #about {
    background: right bottom no-repea #f3fcff;
    padding: 50px 0px;
  }
  #about .col01 {
    width: 25%;
  }
  #about .col02 {
    width: 33%;
  }
  #about .col03 {
    width: 33%;
  }
}
@media (max-width: 1500px) {
  header .encabezado .columna.grafico svg {
    width: 600px;
    height: 588px;
  }
  #comunidad {
    background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 500px top no-repeat, #00212A;
  }
  #comunidad .col01 {
    width: 28%;
  }
  #comunidad .col01 h3 {
    font-size: 36px;
    line-height: 36px;
  }
  #comunidad .col01 p {
    font-size: 16px;
  }
  #comunidad .col03 h4 {
    font-size: 26px;
  }
}
@media (max-width: 1400px) {
  header .encabezado {
    padding: 50px 0px;
  }
  header .encabezado h1 {
    font-size: 85px;
  }
  #about .col03 {
    width: 25%;
  }
  #comunidad {
    background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 450px top no-repeat, #00212A;
  }
  #comunidad .col03 h4 {
    font-size: 18px;
    line-height: 40px;
  }
}
@media (max-width: 1200px) {
  header .encabezado h1 strong::before {
    display: none;
  }
  #comunidad {
    background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 300px top no-repeat, #00212A;
  }
  #comunidad .col01 {
    width: 34%;
    height: 450px;
    padding-top: 75px;
    padding-right: 20px;
  }
  #comunidad .col01 h3 {
    font-size: 36px;
    line-height: 36px;
  }
  #comunidad .col01 p {
    font-size: 16px;
  }
  #comunidad .col02 {
    width: 30%;
  }
  #comunidad .col03 {
    width: 30%;
  }
  #comunidad .col03 h4 {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  header .encabezado {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  header .encabezado .columna.titulo {
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
  }
  header .encabezado .columna.grafico {
    width: 100%;
    text-align: center;
  }
  header .encabezado h1 {
    margin-top: 0;
  }
  header .encabezado h1 strong {
    display: inline;
  }
  #comunidad {
    background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 250px top no-repeat, #00212A;
  }
  #comunidad .col01 {
    width: 35%;
    height: 450px;
    padding-top: 75px;
    padding-right: 20px;
  }
  #comunidad .col01 h3 {
    font-size: 32px;
    line-height: 36px;
  }
  #comunidad .col01 p {
    font-size: 16px;
  }
  #comunidad .col02 {
    width: 20%;
  }
  #comunidad .col03 {
    width: 35%;
  }
  #comunidad .col03 h4 {
    font-size: 18px;
  }
  #about {
    background: right bottom no-repea #f3fcff;
    padding: 50px 0px;
  }
  #about .col01 {
    width: 30%;
    text-align: left;
  }
  #about .col02 {
    width: 60%;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
  }
  #about .col03 {
    width: 60%;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    height: auto;
    padding-top: 70px;
  }
}
@media (max-width: 1000px) {
  #about .col02 br {
    display: none;
  }
  #comunidad {
    background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 250px top no-repeat, #00212A;
  }
  #comunidad .col01 {
    width: 40%;
    height: 530px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
  }
  #comunidad .col01 h3 {
    font-size: 36px;
    line-height: 36px;
  }
  #comunidad .col01 p {
    font-size: 16px;
  }
  #comunidad .col02 {
    width: 0%;
    padding: 0px;
    margin: 0px;
  }
  #comunidad .col03 {
    width: 60%;
    height: 530px;
  }
  #comunidad .col03 h4 {
    font-size: 29px;
  }
}
@media (max-width: 800px) {
  header .encabezado .columna.grafico svg {
    width: 460px;
    height: 450px;
  }
  #comunidad {
    background: url(../comunidad-y-desarrolladores/images/codigo-bg.jpg) 250px top no-repeat, #00212A;
    background-size: cover;
  }
  #comunidad .col01 {
    width: 40%;
    height: 500px;
    padding-top: 75px;
    padding-right: 30px;
  }
  #comunidad .col01 h3 {
    font-size: 24px;
    line-height: 36px;
  }
  #comunidad .col01 p {
    font-size: 16px;
  }
  #comunidad .col02 {
    width: 0%;
    padding: 0px;
    margin: 0px;
  }
  #comunidad .col03 {
    width: 60%;
    height: 500px;
  }
  #comunidad .col03 h4 {
    font-size: 29px;
  }
  #about {
    background: right bottom no-repea #f3fcff;
    padding: 50px 0px;
  }
  #about .col01 {
    width: 100%;
    text-align: left;
    margin-top: 50px;
  }
  #about .col02 {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
  }
  #about .col03 {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
  }
}
@media (max-width: 700px) {
  #comunidad {
    background-size: 200%;
    background-position: left 180%;
  }
  #comunidad .container {
    padding: 0px !important;
  }
  #comunidad .col01 {
    width: 100%;
    height: auto;
    padding: 50px 50px;
  }
  #comunidad .col03 {
    width: 100%;
    height: auto;
    padding: 50px 50px;
  }
  #comunidad .col03 h4 {
    font-size: 48px;
    line-height: 80.56px;
  }
  #about {
    background: right bottom no-repea rgba(255, 255, 255, 0) !important;
    padding: 50px 0px;
  }
  #about .col01 {
    width: 80%;
  }
  #about .col02 {
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
  }
  #about .col03 {
    height: auto;
  }
}
@media (max-width: 600px) {
  header .encabezado {
    padding: 50px 0px;
  }
  header .encabezado h1 {
    font-size: 40px;
    line-height: 51.56px;
  }
}
@media (max-width: 500px) {
  #about .col01 svg {
    width: 100%;
    height: 250px;
  }
  #comunidad {
    background-size: 250%;
    background-position: left 100%;
  }
  #comunidad .col03 h4 {
    font-size: 24px;
    line-height: 50px;
  }
}
@media (max-width: 400px) {
  header .encabezado .columna.grafico svg {
    height: 313px;
  }
}
